doctype html
html(lang='en')
  head
    title= title
    meta(name='description', content=description)
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    link(rel="stylesheet" type="text/css" href='../css/normalize.css')
    link(rel="stylesheet" type="text/css" href='../css/main.css')
  body
    .header
      .logo
      .nav
        .nav-left Hitachi Vantara
    .container
      .col-left
        .themes 
          p.title Theme
          select.theme-selector(onChange="main.changeTheme()")
            each theme in themesList
              option(value=theme.label)=theme.label
        .components
          p.title Components
          ul
            each component in componentsList
              li
                a(href=component.link)=component.label
      .content
        .content-desc!=content
        .content-specs
          .content-impl!=impl
          xmp.content-code!=impl
      .col-right
      script(src="../js/main.js")